
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif; */
/* } */
/* body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #71b7e6;
} */
/* ------------------------------------ */
  .container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 50px;
  
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15); */
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{ 
  transform: scale(0.99); 
   background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
} 
 /* --------------------------------------------- */


    /* .card {
      width: 45%; 
      /* Link to your background image using in the property below! */
       /* background: url('https://wallpaperaccess.com/login-hd');
      background-size: cover;
      background-color: antiquewhite; */
    
    
    
    /* .btn-login { 
       font-size: 0.9rem; 
      letter-spacing: 0.05rem;
      padding: 0.75rem 1rem;
    } 
    
    

     .gradient-custom {
          background: #f093fb; 
      
      
      
      
      background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
      }
      
      .card-registration .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
      }
      .card-registration .select-arrow {
      top: 13px;
      } 
      /* ---------------- main */


      /* body{ */
        /* background-color: #dee9ff; */
    /* } */
    
/* ---------------------------------------------------- */

      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); 

/* -------------------------------------------- */
       /* body{
        background-color:#535fe6;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       } */

       /* .height{
        height: 100vh;
       }

       .width{
        width: max-content;
       } */
/* ------------------------------------------------------ */
        /* .card{
        border:none;
        padding: 20px;
        background-color: #1c1e21;
        color: #fff;
        
       

       }

       .circle{

        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#5855e7;
        color: #fff;
        font-size: 10px;
        border-radius: 50%;
       }

       .form-input{

        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        
  
       }

       .form-input i{

            position: absolute;
            font-size: 18px;
            top: 15px;
            left: 10px;
       }

       .form-control{

        height: 50px;
        background-color: #1c1e21;
        text-indent: 24px;
        font-size: 15px;
      
    


       }

       .form-control:focus{

        background-color: #25272a;
        box-shadow: none;
        color: #fff; 
         border-color: #4f63e7; 
        }

       .form-check-label{
        margin-top: 2px;
        font-size: 14px;
       }

        .signup{
          height: 50px;
          font-size: 14px;
        }
         
  */

         /* -------------------------------------------- */